
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

# Bundles
/public/js/jquery.collection.js
/templates/jquery.collection.html.twig

# Editors
.idea

# Yarn packages.
/public/yarn
/config/deploy.yaml

# Misc data
*.sql
/data
/lib

# Computed files
src/.preload.php
