{% embed '@NinesUtil/term/partial/show.html.twig' with {
    'term': scrapbook,
} %}
    {% block callback %}
        <tr>
            <th>Compilation</th>
            <td>
                {% if scrapbook.compilation %}
                    <a href='{{ path("compilation_show", {"id": scrapbook.compilation.id}) }}'>{{ scrapbook.compilation }}</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Item</th>
            <td>
                {% if scrapbook.items|length > 0 %}
                    <ul>
                        {% for item in scrapbook.items %}
                            <li>
                                <a href='{{ path("item_show", {"id":item.id }) }}'>
                                    {{ item }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
