{% extends 'base.html.twig' %}

    {% block title %}Edit Document Set {% endblock %}

    {% block body %}
        <h1>Edit Document Set</h1>

        {% embed 'document_set/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
