{% embed '@NinesUtil/term/partial/show.html.twig' with {
    'term': compilation,
} %}
    {% block callback %}
        <tr>
            <th>Scrapbook</th>
            <td>
                {% if compilation.scrapbooks|length > 0 %}
                    <ul>
                        {% for scrapbook in compilation.scrapbooks %}
                            <li>
                                <a href='{{ path("scrapbook_show", {"id":scrapbook.id }) }}'>
                                    {{ scrapbook }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </td>
        </tr>
    {% endblock %}
{% endembed %}
