{% extends 'popup.html.twig' %}

    {% block title %}New Item {% endblock %}

    {% block body %}
        <h1>New Item</h1>

        {% embed 'item/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
