{% extends 'base.html.twig' %}

    {% block title %}Edit Folio {% endblock %}

    {% block body %}
        <h1>Edit Folio</h1>

        {% embed 'folio/partial/form.html.twig' %}
        {% endembed %}

    {% endblock %}

    {% block javascripts %}
        {% include '@NinesEditor/editor/widget.html.twig' %}
    {% endblock %}
